@import '_h5bp';

html {
  background-color: #f2f2f2;

  background: url(../images/bg.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}



body {
    font-family: 'EB Garamond', serif;
    font-weight: 300;
    
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #333;
}


.article-title {
    text-align:center;
}

.blog-header {
    text-align:center;
}


a {
    color: #f39c12;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

p {
    line-height: 140%;
    margin-bottom: 2%;
}


.c1 {
        font-size: 26px; 
    }

@media (min-width: 1001px)  {
  .c1 {
     padding-left: 120px;
     padding-right: 120px;
     font-size: 30px;
     .blog-header {font-size: 7vw;
         font-weight: 200;}
     .article-title {font-size: 3vw;
                    font-weight: 200;}
   }
}


@media (min-width: 769px) and (max-width: 1000px) {
  .c1 {
     padding-left: 80px;
     padding-right: 80px;
     .blog-header {font-size: 7vw;
         font-weight: 200;}

     
   }
}

@media (min-width: 551px) and (max-width: 768px)  {
      .c1 {
           padding-left: 40px;
           padding-right: 40px;
      }
    }

@media (max-width: 550px) {
      .c1 {
           padding-left: 0px;
           padding-right: 0px;
           padding-top: 0px;
           .blog-header {font-size: 10vw;}
           .article-title {font-size: 30px;}
           h3 {font-size: 25px;}

      }
    }


